<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-archivo-facturas-heading">Cargar nuevos archivos de facturas</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly >X</input>
                </div>
<!--
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ofVApp.archivoFacturas.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                </div>
                

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ofVApp.archivoFacturas.fecha" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker #fechaDp="ngbDatepicker" formControlName="fecha"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
            -->
                <div class="form-group">
                    <label class="form-control-label" for="field_archivoBlob">Seleccione archivo ZIP</label>
                    <div>                            
                        <input type="file" ng2FileSelect [uploader]="uploader" ></input>

                           <!--
                        <div *ngIf="editForm.get('archivoBlob')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('archivoBlobContentType')!.value, editForm.get('archivoBlob')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('archivoBlobContentType')!.value }}, {{ byteSize(editForm.get('archivoBlob')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({archivoBlob: null});editForm.patchValue({archivoBlobContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input #file type="file" id="file_archivoBlob" (change)="setFileData($event, 'archivoBlob', false)" jhiTranslate="entity.action.addblob"/> 
                        
                    </div>
                    <input type="hidden" class="form-control" name="archivoBlob" id="field_archivoBlob"
                           formControlName="archivoBlob"/>
                    <input type="hidden" class="form-control" name="archivoBlobContentType" id="field_archivoBlobContentType"
                           formControlName="archivoBlobContentType" />
                           -->
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_archivoCsv">Seleccione archivo CSV</label>
                    <div>
                        <div *ngIf="editForm.get('archivoCsv')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('archivoCsvContentType')!.value, editForm.get('archivoCsv')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('archivoCsvContentType')!.value }}, {{ byteSize(editForm.get('archivoCsv')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({archivoCsv: null});editForm.patchValue({archivoCsvContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input #file type="file" id="file_archivoCsv" (change)="setFileData($event, 'archivoCsv', false)" ></input>
                    </div>
                    <input type="hidden" class="form-control" name="archivoCsv" id="field_archivoCsv"
                           formControlName="archivoCsv"/>
                    <input type="hidden" class="form-control" name="archivoCsvContentType" id="field_archivoCsvContentType"
                           formControlName="archivoCsvContentType" />
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>

    </div>
</div>
