<div>
    <h2 id="page-heading">    
    </h2>

    <div class="row">
        <div class="col-md-3" style="padding:30px!important;">
            <h2 id="page-heading">Mis suministros</h2>
            <div *ngFor="let suministro of suministros ;trackBy: trackId">
                <button type="button" class="btn btn-primary btn-block" style="color:black!important;" (click)="cambiarSuministro(suministro)">Suministro Nº{{suministro.suministro}} ({{suministro.servicio}} {{suministro.tarifa}})<br/>{{suministro.usuario}}<br/>{{suministro.inmueble}}</button>
            </div>
            <br/>
            
            <div class="card bg-dark border-info mb-3" >
                <div class="card-body">
                <p class="card-text">Puede vincular un nuevo suministro a esta cuenta ingresando los siguientes datos                    
                    <input [(ngModel)]="nuevoSuministro" type="text" class="form-control" placeholder="Número de suministro" aria-label="suministro">                   
                    <input [(ngModel)]="nuevoDni" type="text" class="form-control" placeholder="DNI o CUIT del titular" aria-label="dni">               
                </p>       
                <button type="button" class="btn btn-outline-info btn-block" style="color:black!important;" (click)="agregarSuministro()">Vincular nuevo suministro</button>          
                </div>                
            </div>
              
            <button [hidden]="confirmarVisible" type="button" class="btn btn-outline-info btn-danger btn-block" style="color:black!important;" (click)="confirmarDesvincular()">Desvincular suministro seleccionado</button>          
            <button [hidden]="!confirmarVisible" type="button" class="btn btn-outline-info btn-danger btn-block" style="color:black!important;" (click)="removerSuministro()">Al hacer clic se desvinculará el suministro "{{activo ? activo.inmueble + " - " + activo.servicio : ""}}" de esta cuenta. ¿Está seguro?</button>          
               

        </div>
        <div class="col-md-9" *ngIf="activo" style="padding:30px!important;">
            
            <div #bottom></div>

            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <div class="alert alert-warning" id="no-result" *ngIf="facturas?.length === 0">
                <span>No se han encontrado facturas para este suministro.</span>
            </div>
            
            <h2 id="page-heading">Comprobantes de suministro Nº{{activo.suministro}} de {{activo.servicio}} a nombre de {{activo.usuario}}</h2>
            <div class="row">
                <div *ngFor="let factura of facturas ;trackBy: trackId">
                    <div class="col-sm-6">
                        <div class="card bg-secondary border-primary mb-3" style="width: 18rem;">
                            <div class="card-body">
                            <h5 class="card-title">Nº{{factura.numero}}<br/>Periodo {{factura.periodo}} </h5>
                            <p class="card-text">Vencimiento 1: {{factura.vencimiento1 | date : 'dd/MM/yyyy'}} | ${{factura.importe1}}
                                <br/>Vencimiento 2: {{factura.vencimiento2 | date : 'dd/MM/yyyy'}} | ${{factura.importe2}}
                            </p>
                            <a (click)="verComprobante(factura)" class="btn btn-primary" >Descargar comprobante</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>


