<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 class="display-4" >OFICINA VIRTUAL</h1>
        <!--<div style="height: 20px;"></div>-->

        <p class="lead">COOPERATIVA ELÉCTRICA JUAN N. FERNANDEZ</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-info" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">Estás conectado como "{{ account.login }}".</span>
            </div>
            
            <div class="alert alert-info" *ngSwitchCase="false">
                <span>Si ya tenés una cuenta y querés iniciar sesión, hacé 
                <a class="alert-link" (click)="login()" >click acá</a></span>
            </div>

            <div class="alert alert-info" *ngSwitchCase="false">    
                <span >¿Todavía no tenés una cuenta?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Registrate acá</a>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
